<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=10.0, user-scalable=yes">
<title>M5Stamp Fly</title>
<meta name="description" content="">
<meta name="keywords" content="">
<style type="text/css">
    <!--
	body {
            -webkit-text-size-adjust: 100%;
            padding: 10px;
        }
    -->
</style>
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->
</head>
<body style="background-color: #E0E0F0;">
<header>
<div style="background-color: #EEFFBB;">
<h1 style="text-align: center;">M5Stamp Fly Remote Control</h1>
</div>
</header>
<div id="contents">
<article>
<section>
{% block contents %}
{% endblock %}
</section>
</article>
</div>
<footer>
</footer>
</body>
</html>
